* {
    box-sizing: border-box;
}

.error{
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
}

#search {
    background-image: url('../img/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#datagrid {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#datagrid th, #datagrid td {
    text-align: left;
    padding: 12px;
}

#datagrid tr {
    border-bottom: 1px solid #ddd;
}

#datagrid tr.header, #datagrid tr:hover {
    background-color: #f1f1f1;
}
